        <div id="announcements" class="carousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item">
              <%= image_tag(image_path('275x150.gif'), :width => "100%", :alt => "") %>
              <div class="carousel-caption">
                <p>Stuff, just testing.</p>
              </div>
            </div>
            <div class="item">
              <%= image_tag(image_path('275x150.gif'), :width => "100%", :alt => "") %>
              <div class="carousel-caption">
                <p>More stuff blahblahblah</p>
              </div>
            </div>
            <div class="item">
              <%= image_tag(image_path('275x150.gif'), :width => "100%", :alt => "") %>
              <div class="carousel-caption">
                <p>What is the airspeed velocity of a coconut-laiden swallow?</p>
              </div>
            </div>
            <div class="item">
              <%= image_tag(image_path('275x150.gif'), :width => "100%", :alt => "") %>
              <div class="carousel-caption">
                <p>Is it African or European?</p>
              </div>
            </div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#announcements" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#announcements" data-slide="next">&rsaquo;</a>
        </div>