<div class="hero-unit row"><h1 class="pull-left">Hey guys! I found the users.<br />
	They're over <%= link_to "here!", users_path %></h1>
</div>
<div class="row"
	<div id="userstable">
	<% @users.each_pair do |role, users| %>
		<% unless users.empty? %>
		<h3><%= role.to_s.titlelize %></h3>
			<table class="table table-striped">
				<thead>
				<tr>
					<th>Email</th>
					<th>Name</th>
				</tr>
				</thead>

				<tbody>
				<% users.each do |user| %>
				<tr>
					<td><%= user.email %></td>
					<td></td>
				</tr>
				<% end %>
				</tbody>
			</table>
		<% end %>
	<% end %>
	</div>
</div>