<div class="hero-unit row"><h1 class="pull-left">Hey guys! I found the users.<br />
	They're over <%= link_to "here!", users_path %></h1>
</div>
<div class="row"
	<div id="userstable">
	<% @users.each_pair do |role, users| %>
		<% unless users.blank? %>
		<h3><%= role.blank? ? "These users don't have a role!" : role.capitalize %></h3>
			<table class="table table-striped">
				<thead>
				<tr>
					<th width="300px" >Email</th>
					<th>Name</th>
				</tr>
				</thead>

				<tbody>
				<% users.each do |user| %>
				<tr>
					<td><%= link_to user.email, user_path(user) %></td>
					<td>Placeholder McPhearson</td>
				</tr>
				<% end %>
				</tbody>
			</table>
		<% end %>
	<% end %>
	</div>
</div>