<h1>Coming Soon!</h1>
<hr />
<p>The link you clicked is for a feature or page that hasn't been made yet. But don't worry, if there's a link for it, it means it's on the list. Do you have a feature request and maybe this is an error? Let us know on the <%= link_to "issue tracker", "http://github.com/gorrillamcd/armory/issues", :target => "_blank" %>.</p>
<p><%= link_to "Back", :back, :class => "btn btn-primary" %></p>