<% title "Lesson" %>
Bob
<% if false %>
<p>
  <strong>Name:</strong>
  <%= link_to @course.name, show_course_path(@course) %>
</p>

<p>
  <%= link_to "Edit", edit_course_path(@course) %> |
  <%= link_to "Destroy", @course, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", courses_path %>
</p>
<% end %>