<%= current_user.full_name %><br />

<% if @payments.blank? %>
  <p>You haven't made any payments.</p>
<% else %>
  <% @payments.each do |payment| %>
    <%= payment.amount %><br />
  <% end %>
<% end %>