<% title "Course" %>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <%= link_to "Edit", edit_course_path(@course) %> |
  <%= link_to "Destroy", @course, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", courses_path %>
</p>
