/* Omnibar Styles */
.omnibar {
  @include box-sizing;
  @include round-bottom-corners;
  background-color: #303030;
  border: 1px solid #9d9d9d;
  color: #fff;
  font: 14px Trebuchet, "Trebuchet MS", futura, helvetica, verdana, arial, sans-serif;
  border-top: 0;
  width: 960px;
  height: 36px;
  display: block;

  #languages {
    float: right;
    display:block;
    padding:8px 7px 0 7px;
    min-width: 144px;
    height: 100%;
    overflow:hidden;

    a {
      color:#fff;
      text-decoration:none; 
      float:left;
      padding-left:5px;
      &:hover { text-decoration: underline; }
    }
  }

  #left-section {
    float: left;
    display:inline-block;
    padding:8px 15px 0 10px;
  }

  #right-section {
    width:auto;
    float: right;
    position:relative;
  }

  // ul {
  //   list-style: none;
  // }

}

/* Center Section */

a span {
  width:18px;
  height:14px;
  display:block;
  float:left;
  padding-right: 3px;

  &.eng {
    background: url(image_path('en.gif')) no-repeat;
    background-position: center;
  }

  &.esp {
    background: url(image_path('es.gif')) no-repeat;
    background-position: center;
  }
}

/* Lefthand dropdown Menu */

#dropdown-left {
  @include box-sizing;
  @include round-any-corner(bottom, left);
  border-right: 1px solid #777;
  height: 35px;
  padding:8px 7px 0 10px;
  text-decoration: none;
  display:block;
  color: inherit;
  float:left;

  &:hover {
    background-color: #fff;
    color: #333;    
  }

  .caret {
    display:inline-block;
    margin: 7px 0 0 0;
  }

}

.open #dropdown-left {
  background-color: #fff;
  color: #333;
}

#menu-left {
  @include box-sizing;
  position:absolute;
  top:20px;
  padding:40px 10px 10px 10px;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  line-height: 1.5em;
  z-index: -1;

  a{
    text-decoration:none;
    color:#fff;
  }

  p{
    padding: 5px 15px 5px 0px;
    display: block;
    color: #aaa;
  }

  li > a:hover, .active > a, .active > a:hover {
    color: #84bc5e;
    background-color: #fff;
  }
}

/* Righthand Dropdown Menu */
#dropdown-right { // Styles for the dropdown toggle link
  @include box-sizing;
  @include round-any-corner(bottom, right);
  border-left: 1px solid #777;
  padding:8px 7px 0 10px;
  float:right;
  min-width: 65px;
  max-width: 450px;
  height:35px;
  color: #fff;
  font: 14px trebuchet, "Trebuchet MS", futura, helvetica, verdana, arial, sans-serif;
  text-decoration: none;
  display:block;
  overflow:hidden;

  &:hover {
    background-color: #fff;
    color: #333;
  }

  .caret {
    display:inline-block;
    margin: 7px 0 0 0;
  }

}

.open #dropdown-right {
  background-color: #fff;
  color: #333;
}

#menu-right { // Styles for the actual dropdown menu
  display:block;
  position:absolute;
  top:20px;
  left: -9999px;
  padding-top:40px;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  z-index: -1;
  line-height: 1.5em;

  // Login Form Styles
  label {
    color: #fff;
  }

  a {
    color:#fff;
    padding:0px;
  }

  .boolean {
    @include round-corners(5px);
    float:left;
    label {
      margin-left:9px;
      float:right;
      font-weight:700;
      text-shadow: 0 1px 0 #000;
    }
  }

  input {
    margin-bottom: 0px;
  }

  input[type="submit"], #forgot-password-link {
    width: 83%;
    margin-bottom:9px;
  }

  .add-on {
    margin-left: -4px;
  }

  h4 { // For the forgotten password link below login form
    @include double-border(#777, #333, top);
    padding-top:9px;
    width:83%;
  }

  #sign-up { // For the sign-up section above the login form
    display: block;
    float:left;
    margin-left: 20px;
    color: #fff;
    font-weight:700;
    padding-bottom:9px;
    margin-bottom: 9px;
    vertical-align: center;
    width:80%;
    @include double-border(#444, #999, bottom);

    a {
      padding:3px 15px;
    }
  } // End Login Form Styles

  ul { // Dropdown Styles for lists of links
    margin-right:20px;
    list-style:none;

    li > a:hover, .active > a, .active > a:hover {
      color: #84bc5e;
      background-color: #fff;
      
      [class^="icon-"], [class*=" icon-"]  { // Icons on hover should be dark
        background-image: url(asset-path('glyphicons-halflings.png', image));
      }
    }

    a {
      padding:3px 15px;

      [class^="icon-"], [class*=" icon-"] {
        background-image: url(asset-path('glyphicons-halflings-white.png', image));
        margin-right: 9px;
        // Sets icons to white. Can't use Bootstrap's built-in because
       // it needs to change on hover and I don't feel like javascript today.
      }
    }
  }
}

.open #menu-right {
  left: inherit; 
}
/* End Omnibar Styles */