/* ===== UI Styles ===== */
$mainnav:       rgb(33,141,170);
$ui-bg:         rgb(240,240,240);
$main-bg:       rgb(255,255,255);

$light-green:   rgb(159,239,138);
$green:         rgb(96,188,72);
$dark-green:    rgb(58,150,34);

$yellow:        rgb(243,175,80);

$light-red:     rgb(255,173,133);
$red:           rgb(255,85,65);
$dark-red:      rgb(150,61,18);

// Testing some different colors
$greyblue:      rgb(229,234,235);
$mediumblue:    rgb(49,128,147);
$darkbluegrey:  rgb(36,48,50);
$mediumgreen:   rgb(74,132,82);
$mediumgrey:    rgb(119,133,136);
$lightgrey:     rgb(230,235,236);

.ui {
  background-color: $lightgrey;
  font: 14px;
  h1 {
    font-size: 32px; 
    small {
      font-size: 25px;
    }
  }
  h2 { font-size: 25px; }
  h3 { font-size: 20px; }
  h4 { font-size: 18px; }
  h5 { font-size: 16px; }
  h6 { font-size: 14px; }
  // padding-bottom: 138px;

  #main-header {
    @include box-sizing;
    width: 100%;
    height: 100px;
    background-color: $mainnav;
    color: #fff;
    font: 40px 'Museo-700';
    padding: 40px 0 0 12px;
    // z-index:1;

    h1 {
      text-shadow: 0 1px 0 darken($mainnav, 20%);
      margin-left:4px;

      small {
        color: lighten($mainnav, 25%);
        font-family: "Helvetica Neue", helvetica, verdana, arial, sans-serif;
      }
    }
  }

  #main-footer {
    padding-top:30px;
    background-color:$darkbluegrey;
    @include linear-gradient(darken($darkbluegrey, 10%), 10%, $darkbluegrey, 100%);
    position:relative;
    margin-top: -30px;
    height:165px;
    color: #eee;

    h3 {
      color: #eee;
      display:block;
      float:right;
    }
  }

  .ui-nav {
    @include box-sizing;
    height: 50px;
    color: $lightgrey;
    @include linear-gradient($darkbluegrey, 60%, darken($darkbluegrey, 10%), 100%);

    ul {
      text-decoration: none;
      list-style: none;
      margin-left:12px;
      float:left;

      .divider-vertical {
        height:50px;
        width:1px;
        background-color: darken($darkbluegrey, 10%);
        border-right: 1px solid lighten($darkbluegrey, 7%);
        overflow:hidden;
      }

      li {
        display: block;
        float: left;

        a {
          color: $lightgrey;
          text-shadow: 0 1px 0 #000;
          float: left;
          padding: 15px 12px 17px 12px;
          font: 14px helvetica, verdana, arial, sans-serif;

          &:hover, &:hover > a {
            color: #fff;
            text-decoration: none;
            @include linear-gradient(darken($darkbluegrey, 10%), 50%, $darkbluegrey, 100%);
            box-shadow: none;
          }
        }

        i {
          margin-top: 3px;
        }
      }
    }

    .modal{
      color: #333;
    }
  }

  #account-dropdown {
    position:relative;
    float:right;

    .caret{
      border-top:4px solid $lightgrey;
    }

    .dropdown-menu{
      left:-13px;
      background-color: rgba(0,0,0,0.7);
      line-height: 1.5em;
      padding-top: 10px;
      margin-top:-2px;

      .divider {
        background-color:#222;
        border-bottom: 1px solid #777;
        width:95%;
        margin:5px;
      }

      li {
        width:100%;
      }

      a{
        @include box-sizing;
        display:block;
        // text-align:right;
        position:relative;
        right:0;
        float:none;

        &:hover, &:hover > a {
          color: #fff;
          background: rgba(0,0,0,0.9);
        }

        i {
          margin-top:1px;
          margin-right: 9px;
        }
      }
    }
  }

  .sidebar-true{
    background: -webkit-gradient(linear, left top,right top,color-stop(0%,darken($ui-bg, 3%)), color-stop(33%,darken($ui-bg, 3%)),color-stop(33%,#ccc), color-stop(33.3%, #ccc), color-stop(33.3%, $main-bg),color-stop(100%, $main-bg));
    background: -webkit-linear-gradient(left, darken($ui-bg, 3%) 33%, #ccc 33%, $main-bg 33.3%, $main-bg 100%);
    background:    -moz-linear-gradient(left, darken($ui-bg, 3%) 33%, #ccc 33%, $main-bg 33.3%, $main-bg 100%);
    background:      -o-linear-gradient(left, darken($ui-bg, 3%) 33%, #ccc 33%, $main-bg 33.3%, $main-bg 100%);
    background:     -ms-linear-gradient(left, darken($ui-bg, 3%) 33%, #ccc 33%, $main-bg 33.3%, $main-bg 100%);
    background:         linear-gradient(left, darken($ui-bg, 3%) 33%, #ccc 33%, $main-bg 33.3%, $main-bg 100%);
  }

  .maincontent {
    @include round-corners(5px);
    @include box-shadow(0,0,15px,0,#444);
    background-color: $main-bg;
    border: 1px solid #bbb;
    color: #303030;
    position:relative;
    top:-12px;
    z-index:2;
    overflow:hidden;

    .course-list {
      background-color: $greyblue;
      @include round-corners(5px);
      border: 1px solid darken($greyblue, 5%);
      padding: 1em 2em;

      .row {
        margin-left: -30px;
        width: 90%;
      }

      .dropdown-menu {
        margin-left: -30px;
      }

      .media {
        border-bottom: 4px solid darken($greyblue, 5%);
        border-right: 2px solid darken($greyblue, 5%);
        background-color: lighten($greyblue, 8%);
        padding: 0 1em;
        color: #006699;
        overflow: visible;

        &:hover {
          background-color: lighten($greyblue, 2%);
          color: darken($greyblue, 63%);
        }
      }

      .media-body {
        display: block;
        width: 80%;

        .course-desc {
          display: block;
          color: #333;
          width: 70%;
          margin-top: 1.5em;
          vertical-align: center;
        }
      }

      .media-object {
        margin-top: 15px;
      }
    }

    section {
      margin-bottom: 1em;
    }

    .offset1 {
      margin-left: 70px;

      .video-js {
        margin-left: 9px;
      }
    }

    .module {
      padding: 12px;
      // margin-left:10px;

      h2 {
        text-shadow: 0 1px 0 #fff;
        @include double-border(#555, #eee, bottom);
        padding-bottom: -3px;
        margin-bottom: 12px;
      }

      h3 {
        margin-bottom: 0.5em;
      }

      .accordion-group {
        background-color: #fff;
        // @include box-shadow(0,0,5px,0,#444, inset);

        .accordion-header {
          @include box-sizing;
          @include round-top-corners(5px);
          width: 100%;
          height: 30px;
          padding-left: 9px;
          margin-top: -5px;
          margin-bottom: 5px;
          display:block;

          span {
            width:60%;
            font-size: 18px;
            line-height: 27px;
            font-family: inherit;
            font-weight: 700;
            margin: 0px;
          }

          small {
            float: right;
            display: inline;
            font-style: italic;
            font-weight:normal;
            font-size: 12px;
            color: #fff;
            margin: 6px 10px 0 0;
          }
        }
      }

      .module-body {
        background-color: #fff;
        padding: 9px;
        padding-bottom: 15px;

        .average {
          @include round-corners(5px);
          margin-top: -50px;
          padding:8px 10px;
          font: 36px 'Franchise-bold', impact, 'Helvetica Neue', futura, 'Arial Narrow', 'URW Gothic L', arial, sans-serif;
          letter-spacing: -1px;
          color: #fff;
          vertical-align: baseline;
          text-align: center;
          text-shadow:none;
        }
      }

      .accordion-header {
        background-color: #555;
        color: #fff;
        text-shadow: none;
        &:hover {
          background-color: #333;
          text-shadow:none;
          color: #fff;
        }
      }
      .fail { // For showing grades less than 60
        color:#fff;
        background-color: $red;
        text-shadow: 0 -1px 0 $dark-red;

        &:hover{
          background-color: darken($red, 15%);
        }
      }

      .warn { // For showing grades 60-80
        color: #fff;
        background-color: $yellow;
        text-shadow: 0 -1px 0 darken($yellow, 15%);
        &:hover{
          background-color: darken($yellow, 15%);
        }
      }

      .good { // For showing grades greater than 80
        color: #fff;
        background-color: $green;
        text-shadow: 0 -1px 0 $dark-green;
        &:hover{
          background-color: darken($green, 15%);
        }
      }
    }
    .content .module {
      padding:0px;
    }
  }

  #announcements {
    width: 275px;
    height: 150px;
    padding: 12px;
    margin-bottom: 0px;

    .carousel-control {
      top:50%;
      font-size:30px;
      line-height: 15px;
      width:20px;
      height:20px;
      @include round-corners(12px);
    }
  }
}