<div class="modal hide" id="<%= html_id.to_s %>" tabindex="-1" role="dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3><%= header.to_s %></h3>
  </div>
  <div class="modal-body">
    <p><%= body.to_s %></p>
  </div>
</div>